.app {
  position: relative;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-white;
    z-index: 100;
    visibility: none;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s ease, visibility 0s 1s;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }

  &__top {
    display: flex;
    width: calc(100% - 60px);
    height: calc(100% + 200px);
    max-height: 80vh;
    justify-content: space-between;

    @media screen and (min-width: $break-medium) {
      width: calc(100% - 100px);
      justify-content: center;
    }
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    animation-duration: 5s;
    animation-name: bgshake;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  &.js-firstvisit {
    .app {
      &__top,
      .about__button {
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      &__bottom {
        opacity: 0;
        transition: all 0.3s ease;
      }
    }

    .control {
      &__left,
      &__right {
        opacity: 0;
        transition: all 0.3s ease, 0.3s;
      }
    }
  }

  &.js-show {
    .app {
      &__top,
      &__bottom,
      .about__button {
        opacity: 1;
      }
    }

    .control {
      &__left {
        opacity: 1;
        left: 0;
      }


      &__right {
        opacity: 1;
        right: 0;
      }
    }
  }

  &.js-flash {
    &:after {
      visibility: visible;
      opacity: 1;
      transition: opacity 0s ease;
    }
  }
}



@keyframes bgshake {
  from {
    transform: scale(1.1) rotate(2deg);
  }

  to {
    transform: scale(1.2) rotate(-2deg);
  }
}