.app {
  position: relative;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }

  &__top {
    display: flex;
    height: calc(100% + 200px);
    max-height: 80vh;
    justify-content: center;
  }

  &__bottom {
    display: flex;
    justify-content: center;
  }

  &.js-firstvisit {
    .app {
      &__top {
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      &__bottom {
        position: relative;
        top: 30px;
        opacity: 0;
        transition: all 0.3s ease;
      }
    }

    .control {
      &__left,
      &__right {
        opacity: 0;
        transition: all 0.3s ease, 0.3s;
      }
    }
  }

  &.js-show {
    .app {
      &__top,
      &__bottom {
        opacity: 1;
      }

      &__bottom {
        top: 0;
      }
    }

    .control {
      &__left {
        opacity: 1;
        left: 0;
      }


      &__right {
        opacity: 1;
        right: 0;
      }
    }
  }
}