.control {
  &__left,
  &__right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    button {
      position: relative;
      width: 40px;
      height: 40px;
      background: transparent;
      background-color: $color-white;
      border-radius: 100%;
      transition: background-color 0.3s ease 0.3s;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        transform: translate(-50%, -50%);
        background-color: $color-black;
        border-radius: 100%;
        transition: width 0.3s ease, height 0.3s ease;
        z-index: -1;
      }

      &:hover {
        &:before {
          width: calc(100% + 8px);
          height: calc(100% + 8px);
        }
      }

      &.jsloading {
        background-color: $color-red;
      }

      span {
        @include visually-hidden;
      }
    }
  }
}

.app.js-firstvisit {
  .control {
    &__left {
      left: -30px;
    }

    &__right {
      right: -30px;
    }
  }
}