.control {
  &__left,
  &__right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    button {
      position: relative;
      width: 40px;
      height: 40px;
      background: transparent;
      background-color: $color-white;
      border-radius: 100%;

      &:after {
        content: '';
        position: absolute;
        top: calc(50% - (30px / 2));
        left: calc(50% - (30px / 2));
        width: 30px;
        height: 30px;
        background-image: url('../img/icons/load-flower.png');
        background-size: contain;
        background-position: center;
        animation-duration: 2s;
        animation-name: spin;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        opacity: 0;
        transition: opacity 0.3s ease 0.3s;
      }

      @keyframes spin {
        from {transform:rotate(0deg);}
        to {transform:rotate(360deg);}
      }

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        transform: translate(-50%, -50%);
        background-color: $color-grey;
        border-radius: 100%;
        transition: width 0.3s ease, height 0.3s ease;
        z-index: -1;
      }

      &:hover {
        &:before {
          width: calc(100% + 8px);
          height: calc(100% + 8px);
        }
      }

      &.jsloading {
        &:after {
          opacity: 1;
        }
      }

      span {
        @include visually-hidden;
      }
    }
  }
}

.app.js-firstvisit {
  .control {
    &__left {
      left: -30px;
    }

    &__right {
      right: -30px;
    }
  }
}