.splashscreen {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vw;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s 0.3s;
  z-index: 10;

  &.js-grow {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s 0s;
  }

  &__header {
    @include visually-hidden;
  }

  &__logo {
    width: 70vw;
    max-width: 470px;
    animation-duration: 1s;
    animation-name: shake;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 2;
  }
}

@keyframes shake {
  from {
    transform: scale(1.1) skewX(8deg) skewY(-5deg);
  }

  to {
    transform: scale(1) skewX(-7deg) skewY(10deg);
  }
}