$color-white: #ffffff;
$color-grey: #838383;
$color-black: #000000;
$color-pink: #f63493;
$color-pink2: #cc2877;
$color-orange: #f63f11;

$break-medium: 699px;
$break-large: 1024px;

$font-patua: 'Patua One', cursive;